@use "variables" as v;
@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-section{
    background-color: v.$bg-light;
    padding: 80px 20px;
    font-family: 'Helvetica Neue', Helvetica, Arial, Helvetica, sans-serif;
 &__title{
        text-align: center;
        margin-bottom: 50px;
        color: v.$text-dark;
        font-size: 32px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .container {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;
    }
}
